<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Budget app", "/", class: "nav-link active" %>
          </li>
        <% else %>
          <li class = "nav-item">
            <%= link_to "Sign In", new_user_session_path, class: "nav-link active" %>
          </li>
          <li class = "nav-item">
            <%= link_to "Sign Up", new_user_registration_path, class: "nav-link active" %>
          </li>
        <% end %>
      </ul>
      <div class="d-flex">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-outline-success" %>
          </li>
          <li class = "nav-item">
            <%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-outline-success" %>
          </li>
          <li class="nav-item">
            <%= link_to "#{current_user.name}", class: "btn btn-outline-success"%>
          </li>
          <% else %>
          <li class = "nav-item">
            <%= link_to "Sign In", new_user_session_path, class: "btn btn-outline-success" %>
          </li>
          <li class = "nav-item">
            <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-outline-success" %>
          </li>
        <% end %>
      </div>
    </div>
  </div>
</nav>